@model School_ErP.Models.Master_House

<div class="modal-header bg-primary text-white py-2">
    <h6 class="modal-title" style="color:ButtonHighlight"><i class="fa fa-eye"></i> House Details</h6>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body" style="font-size:13px;">
    <div class="row mb-2">
        <div class="col-5 fw-semibold text-secondary">House:</div>
        <div class="col-7">@Model.House</div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
        <i class="fa fa-times"></i> Close
    </button>
</div>
